<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<Auth>
		<userTypeBuyer>1</userTypeBuyer>
		<userTypeSeller>2</userTypeSeller>

		<moduleName>

			<userAccount>UserAccount</userAccount>

		</moduleName>

		<actionName>

			<view>View</view>
			<addOrEdit>Add/Edit</addOrEdit>
			<delete>Delete</delete>

		</actionName>
	</Auth>

</configuration>