<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<Auth>
		
		<dbConnection>Server=DESKTOP-R1LRV02\SQLEXPRESS;Database=Dev_Auth;User Id=sa;Password=password;TrustServerCertificate=True</dbConnection>
		
		<tokenSecrect>Token Secrect Key</tokenSecrect>
		<tokenIssuer>Zin Ko</tokenIssuer>
		
		<moduleName>
			<userAccount>UserAccount</userAccount>
		</moduleName>

		<actionName>
			<view>View</view>
			<addOrEdit>Add/Edit</addOrEdit>
			<delete>Delete</delete>
		</actionName>
		
	</Auth>

</configuration>